<h1>You have attacked <%=@game.player_2.name%>!</h1>
<h2><%=@game.player_2.name%>'s hit points now equal <%=@game.player_2.hit_points%>

  <form action="/player-two-attack" method="get">
      <input type="submit" value="Attack Player 1"/>
  </form>
